PORT=4000
MONGODB_URL="enter your key"

MAIL_HOST = smtp.gmail.com     
MAIL_USER = enter your key
MAIL_PASS = enter your key

TWILIO_ACCOUNT_SID = enter your key
TWILIO_AUTH_TOKEN = enter your key
TWILIO_PHONE_NUMBER = enter your key

JWT_SECRET = enter your key

# Cloudinary Credentials
CLOUD_NAME = enter your key
API_KEY = enter your key
API_SECRET = enter your key

# Firebase Configuration
FIREBASE_API_KEY=enter your key
FIREBASE_AUTH_DOMAIN=enter your key
FIREBASE_PROJECT_ID=enter your key
FIREBASE_STORAGE_BUCKET=enter your key
FIREBASE_MESSAGING_SENDER_ID=enter your key
FIREBASE_APP_ID=enter your key

# Facebook Configuration
FACEBOOK_APP_ID=enter your key
FACEBOOK_APP_SECRET=enter your key